
@{ ViewBag.Title = "Search"; }

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<link href="~/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.318/kendo.blueopal.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.318/kendo.blueopal.mobile.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/2014.1.318/kendo.web.min.js"></script>*@


<div class="grid">

    <h2 style="color:darkred">
        Can't find your queries? Post here to get feedback from us or someone like you!<br>
    </h2>
    <div class="input-group-search">
        <input id="inputstr" class="form-control" name="term" placeholder="Enter your queries" type="text">
        <button id="searchbuttn" class="btn btn-primary" type="submit"><span> Post </span></button>

        @if (Session["id"] == null)
        {
            
            <button onclick="window.location.href='/Login/Login'" class="btn btn-primary-darker clinical-search-switch" id="kendoToggler">Login here to post!</button>}
    </div>
</div>

<div id="tblBlog2">

</div>
<div class="container mt-3">
    <div id="corona-data"></div>
</div>
<!-- ADDModal -->
@*Kendo Table*@
<script src="~/Scripts/customJS/ForumJS.js"></script>
