@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Physician's Covid19 Assistant<br />
    Shabu, Frankfurt Am<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="support@pca.com">support@pca.com</a><br />
</address>