
@{
    ViewBag.Title = "Blog-Details";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<link href="~/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.318/kendo.blueopal.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.1.318/kendo.blueopal.mobile.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/2014.1.318/kendo.web.min.js"></script>*@

<h2>Blog Detail</h2>


<div id="blog-detail">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title"><span id="DetailBlogTitle"></span></h2>
            &nbsp;by:&nbsp;<i><span id="DetailBlogAuthor"></span></i>
            date:<span id="DetailBlogDate"></span>
        </div>
        <div class="panel-body">
            <p id="EditBlogDescription"></p>
        </div>
    </div>

</div>


<script src="~/Scripts/customJS/custom.js"></script>
<script>
    $(document).ready(function () {
        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('BlogId')) {
            var BlogId = urlParams.get('BlogId');
            if (BlogId != "") {
                //
        var _dbModel = {
            'id': BlogId,
        };
        $.ajax({
            type: "POST",
            url: "/Blog/LoadSelectedBlog",
            data: JSON.stringify(_dbModel),
            contentType: "application/json",
            datatype: "json",
            async: false,
            success: function (data) {
                //console.log(data);
                $('#DetailBlogAuthor').text("");
                $('#DetailBlogDate').text("");
                $('#DetailBlogTitle').text("");
                $('#EditBlogDescription').text("");

                $('#DetailBlogDate').text(data[0].DateAdded);
                $('#DetailBlogAuthor').text(data[0].AddedBy);
                $('#DetailBlogTitle').text(data[0].title);
                $('#EditBlogDescription').text(data[0].description);
            },
            error: function () {
                console.log("data not retrieved!");
            }
        });
                //
            }
        }
    });
</script>
